// Variables
$vue-v-shimmer-primary-color: #ccc !default;
$vue-v-shimmer-secondary-color: #eee !default;
$vue-v-shimmer-border-radius: 6px !default;
$vue-v-shimmer-line-height: 15px !default;
$vue-v-shimmer-spacing: 10px !default;

// Animations
@keyframes vueContentPlaceholdersAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}



// Mixins
@mixin vue-v-shimmer {
  position: relative;
  overflow: hidden;
  height: $vue-v-shimmer-line-height;
  background: $vue-v-shimmer-secondary-color;

  .vue-v-shimmer-is-rounded &  {
    border-radius: $vue-v-shimmer-border-radius;
  }

  .vue-v-shimmer-is-centered & {
    margin-left: auto;
    margin-right: auto;
  }

  .vue-v-shimmer-is-animated &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 1000px;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, darken($vue-v-shimmer-secondary-color, 5%) 15%, transparent 30%);
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: vueContentPlaceholdersAnimation;
    animation-timing-function: linear;
  }
}

@mixin vue-v-shimmer-spacing {
  [class^="vue-v-shimmer-"] + & {
    margin-top: 2 * $vue-v-shimmer-spacing;
  }
}



// Styles
.vue-v-shimmer-heading {
  @include vue-v-shimmer-spacing;
  display: flex;

  &__img {
    @include vue-v-shimmer;
    width: 2 * $vue-v-shimmer-line-height + 3 * $vue-v-shimmer-spacing;
    height: 2 * $vue-v-shimmer-line-height + 3 * $vue-v-shimmer-spacing;
    margin-right: 1.5 * $vue-v-shimmer-spacing;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    @include vue-v-shimmer;
    width: 85%;
    margin-bottom: $vue-v-shimmer-spacing;
    background: $vue-v-shimmer-primary-color;
  }

  &__subtitle {
    @include vue-v-shimmer;
    width: 90%;
  }
}

.vue-v-shimmer-text {
  @include vue-v-shimmer-spacing;

  &__line {
    @include vue-v-shimmer;
    width: 100%;
    margin-bottom: $vue-v-shimmer-spacing;

    &:nth-child(4n + 1) {
      width: 80%;
    }

    &:nth-child(4n + 2) {
      width: 100%;
    }

    &:nth-child(4n + 3) {
      width: 70%;
    }

    &:nth-child(4n + 4) {
      width: 85%;
    }
  }
}

.vue-v-shimmer-img {
  @include vue-v-shimmer;
  @include vue-v-shimmer-spacing;
  width: 100%;
  height: 120px;
}

.vue-v-shimmer-block {
  @include vue-v-shimmer;
  @include vue-v-shimmer-spacing;

  &_small {
    width: 16px;
    height: 16px;
  }
}
